.profileCard {
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 700px;
  margin: 0 auto 40px auto;
  padding: 20px;
  background-color: #d1c7c7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profileImage {
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: #ddd;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  color: #333;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.personalInfo {
  color: #666;
  font-size: 24px;
  line-height: 1.4;
}

.statsList {
  width: calc(100% - 30px);
  display: flex;
  gap: 10px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.statsItem {
  width: calc(100% / 3);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #e3edf7;
  border-radius: 10px;
}

.statsItem:first-child {
  border-left: none;
}

.statsName {
  color: #333;
  font-size: 20px;
}

.statsInfo {
  color: #333;
  font-size: 24px;
  font-weight: 700;
}
