table {
  table-layout: fixed;
  width: 60%;
  background-color: rgb(226, 215, 215);
  margin: 0 auto;
  border-radius: 10px;
}

th,
td {
  padding: 15px;
  font-size: 24px;
  border: 2px solid rgb(221, 215, 215);
  text-align: center;
  color: black;
  border-radius: 10px;
}

th {
  background-color: #f0f0f0;
  color: black;
}

tbody tr:nth-child(odd) {
  background-color: #dbd3db;
}

tbody tr:nth-child(even) {
  background-color: #c0bcc0;
}

.type {
  text-transform: capitalize;
}
